
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}


.header{
    background-image: black;  
    padding: 20px 0; 
    list-style: none;
    background: #fefeff;
    position: relative;
    width: 1890px;
    height: 48px;
    margin: 0px auto;
    z-index: 402;
    font-family: 'Roboto','Arial', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    color: black;
}
.logo-link{
    margin-right: 40px;
    text-decoration: none;
    float: left;
    margin-left: 25px;

}
#header .menu {
    position: absolute;
    left: 200px;
  
}
.products{
    display: block;
    position: relative;
    padding-top: 12px;
    padding-left: 45px;
    line-height: 28px;
    float: left;
    text-decoration: none;
}
.learn{
    display: block;
    position: relative;
    padding-top: 12px;
    padding-left: 45px;
    line-height: 28px;
    float: left;
    text-decoration: none;
}
.support{
    display: block;
    position: relative;
    padding-top: 12px;
    padding-left: 45px;
    line-height: 28px;
    float: left;
    text-decoration: none;
}
.info{
    display: block;
    position: relative;
    padding-top: 12px;
    padding-left: 45px;
    line-height: 28px;
    float: left;
    text-decoration: none;
}
.right-menu{
    position: absolute;
    right: 10px;
    min-width: 220px;
    height: 48px;
    line-height: 48px;
    z-index: 401;
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
}
.login{
    display: block;
    position: relative;
    padding-top: 12px;
    padding-left: 5px;
    line-height: 28px;
    float: left;
    text-decoration: none;
}
.signup{
    position: absolute;
    height: 48px;
    left: 78px;
    right: 36px;
    background: #00C805;
    border-radius: 24px;
    text-decoration: none;
}
.signup span{
    position:absolute;
    left: 20px;
    top: 12px;
}
.prewiev{
    position: absolute;
    height: 720px;
    max-width: 1890px;
    left: 0%;
    right: 0%;
    top: 88px;
    background-color: #C3F53C;
    margin: 0 auto

}
.motivate{
    position: relative;
    right: 7%;
    left: 38%;
    top: 7%;
}
.prinfo{
    height: 600px;
    max-width: 880px;
    min-width: none;
    position: relative;
    top: -85%;
    left: 2%;
}
.IFEO{
    height: 280px;
    position: absolute;
    font-size: 52px; 
    font-weight: bold;
    line-height: 64px;
    position: absolute  ;
    height: 140;
    left: 15%;
    right: 50%;
    top: 10%;   
}

.PrewievInfo{
    position: absolute;
    top: 38%;
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    left: 15%;
}
.PrSignUp{
    position: absolute;
    height: 48px;
    top: 72%;
    left: 15%;
    right: 67%;
    background: #050505;
    border-radius: 24px;
}
.PrSignUp a{
    font-size: 22px; 
    font-weight: bold;
    left: 44px;
    top: 10px;
    position: absolute;
    color: white;
    text-decoration: none;
}
.mark{
    position: absolute;
    height: 48px;
    top: 85%;
    left: 14%;
    width: 280px;

}
.marktxt{
    position: absolute;
    left: 13%;
    top: 16%;
    width: 260px;
    
}
.justblock{
    position: absolute;
    height: 720px;
    max-width: 1890px;
    left: 0%;
    right: 0%;
    top: 808px;
    margin: 0 auto;
    
}
.schedule{

max-width: 1890px;
height: 124px;
border: 1px solid black;
}
.schedule span{
    position: relative;
    left: 40%;
    right: 40%;
    top: 40%;
    color:black;
    font-family: Roboto;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #000000;
}
.schedule span a{
    font-weight: bolder;
    border-bottom: 1px solid black;
}
.image{
    position: absolute;
    left: 1%;
    height: 576px;
    width: 1024px;
}
.textblock{
    position:absolute;
    height: 576px;
    width: 832px;
    right: 0%;
}
.invest{
    position:absolute;
    top: 30%;
    left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 64px;
    line-height: 90px;
    letter-spacing: 2px;
    color: #000000;
}
.campaign{
    position:absolute;
    top: 50%;
    left: 6%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 2px;
    width: 320px; 
}
.campaign img{
    position:absolute;
    top: 25%;
    left: 92%;
}
.infoblock{
    position: absolute;
    height: 720px;
    max-width: 1890px;
    left: 0%;
    right: 0%;
    top: 1510px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black;  
}
.infoblock img{
    position: absolute;
    top: 5%;
    right: 0%;
    width: 540px;
    height: 680px;
}
.head-block{
    position: absolute;
    height: 180px;
    width: 1080px;
}
.heading{
font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 42px;
line-height: 40px;
letter-spacing: 0.32px;
color: #000000;
position:absolute;
top: 25%;
left: 10%;
}
.und-heading{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 28px;
letter-spacing: 0.25px;
color: #6F787E;
position:absolute;
top: 70%;
left: 10%;
}
.information{
    position: absolute;
    height: 540px;
    bottom: 0px;
    width: 1280px;
}
.IAA{
    position:absolute;
    top: 2%;
    left: 7%;
    width: 320px;
    height: 480px;    
}
.headings{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 28px;
letter-spacing: 0.25px;
color: #000000;
position: absolute;
top: 10%;
width: 320px;
}
.default{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;   
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #000000;
    position: absolute;
    top: 20%;
    width: 320px;
}
.BBP{   
    position:absolute;
    width: 320px;
    height: 480px;
    left: 450px;
    top: 2%; 
}
.TRT{
    position:absolute;
    top: 2%;
    left: 840px; 
    width: 320px;
    height: 480px;   
}
.under-info{
    position:absolute;
    top: 60%;
    left: 90px; 
    width: 380px;
    height: 128px;   
}
.sign-svg{
    position:absolute;
    left: 0%;
}
.under-info span{
    position:absolute;
    left: 12%;
    top: 2%;
    color: #6F787E;
    font-size: 24px;
}
.blackblock{
    position: absolute;
    height: 720px;
    max-width: 1890px;
    left: 0%;
    right: 0%;
    top: 2232px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    background-color: black;
}
.swiper{
    position: absolute;
    top: 35%;
    height: 280px;
    width: 340px;
    left: 10%;
}
.LAYG{
    position: absolute;
    top: 25%;
    height: 240px;
    width: 620px;
    left: 45%;
}
.mobile{
    position: absolute;
    left: 15%;
    top: 17%;
}
.up{
    position: absolute;
    left: 40%;
    top: 2%;
}
.down{
    position: absolute;
    left: 38%;
    bottom: 2%;
}
.swiper span{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 36px;
letter-spacing: 0.24px;
}
.target{
    color: white;
    position: absolute;
    top: 19%;
    left: 22%;
}
.untarget1{
    color: #545D61;
    top: 40%;
    position: absolute;
    left: 11%;
}
.untarget2{
    color: #545D61;
    top: 62%;
    position: absolute;
}
.LAYG span{
    color: white;   
}
.lgheader{
    font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 52px;
line-height: 60px;
letter-spacing: 1.75px;
position: absolute;
left: 10%;
}
.lginfo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1.75px;
    position: absolute;
    left: 10%;
    top: 32%;
}
.bottomblock{
    position: absolute;
    height: 840px;
    max-width: 1890px;
    left: 0%;
    right: 0%;
    top: 2952px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    background-color: #F0EBE6;
}
.OP{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: 0.32px;
    color: #000000;
    top: 15%;
    position: absolute;
    left: 10%;
    height: 80px;
    width: 280px;
}
.types{
    height: 90px;
    width: 1080px;
    top: 25%;
    position: absolute;
    left: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.32px;
}
.SM{
    color: black;
    position: absolute;
    left: 0%;
}
.SF{
    
    position: absolute;
    left: 32%;
}
.SF a{
    color: #6F787E;
}
.Opt{
    
    position: absolute;
    left: 58%;
}
.Opt a{
    color: #6F787E;
}
.Gold{
    
    position: absolute;
    left: 73%;
    border-right: 1px solid black;
    width: 100px;
}
.Gold a{
    color: #6F787E;
}
.Crypto{
    left: 85%;
    position: absolute;
}
.Crypto a{
    color: #FF90AF
}
.ProdInfo{
    height: 420px;
    width: 1080px;
    position: absolute;
    top: 32%;
}
.earn{
    position: absolute;
    left: 10%;
    font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 22px;
line-height: 28px;
letter-spacing: 0.25px;
top: 20%;
width: 480px;
left: 18%;   
}
.LM{
    position: absolute;
    height: 42px;
    top: 71%;
    left: 17%;
    right: 61%;
    background: #050505;
    border-radius: 24px;
}
.LM a{
    color: white;
    position: absolute;
    left: 62px;
    font-size: 24px;
    top: 8px;
}
.VAD{
    position:absolute;
    width: 680px;
    height: 120px;
    top: 88%;
    left: 10%;
}
.VAD span{
    font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 26px;
line-height: 28px;
letter-spacing: 0.25px;
position: absolute;
color: #6F787E;
left: 8%;
top: 7%;
}
.BotImg{
    position: absolute;
    width: 720px;
    left: 55%;
    top: 10%;
    
}
.undimg{ 
    position: absolute;
    top: 95%;
    left: 75%;
}

   
